.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-content {
    flex: 0.7; /* Adjust as needed */
    padding-right: 20px; /* Gives some space between text and image */
  }
  
  .image-content {
    flex: 0.45; 
    margin-left: 3%;
    margin-right:3%;
  }

.Background {
    font-size: 40px;
    color: #000;
    font-weight: bold;
}
  
.intro-1{
    font-size: 40px;
    font-weight: bold;
    color: rgb(58, 58, 146);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:50px;
}
  
.intro-2{
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
    color: #383838;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:15px;
}

  .frank-picture {
    width: 100%; 
    height: auto;
  }

.intro-3{
    font-size: 40px;
    font-weight: bold;
    color: rgb(7, 7, 37);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:50px;
}

.intro-group-1{
    margin-left:50px;
    font-size: 20px;
    font-style: italic;
    
}

.ad.experience{
    margin-left: 20px;
}

.picture2{
    width: 30%; 
    height: auto;
    margin-left: 20px;
}

.video-showcase{
    margin-left: 0%;
}

.picture3{
    width: 30%; 
    height: auto;
    margin-left: 20px;
}