
@media (max-width: 768px) {
    .img.hexagon, .img.showcase {
        max-width: 70%;
        height: auto;
    }
}

.img.hexagon{
    max-width: 700px;
    margin: 0 auto;
}

.img.showcase{
    max-width: 700px;
    max-height: 500px;
}

.row{
    margin-left: 100px;
}

.col-sm-8.intro{
    color: rgb(58, 58, 146);   
}

.intro.descrip-1{
    margin-top: 20px;
    font-size:xx-large;
}

.container.text-center {
    background-color: rgb(191, 203, 228);
}

.work.experience{
    font-style: italic;
    font-size:25px;
    color: #383838;
}

.list{
    font-weight:lighter;
    font-size: 20px;
    font-style: italic;
}

.hexagon-text{
    font-size: 20px;
    font-weight: lighter;
    font-style: italic;
}