
.row{
    margin-left: 100px;
    margin-right: 100px;
}

.col-sm-8.intro{
    color: rgb(58, 58, 146);   
}

.intro.descrip-1{
    margin-top: 10px;
    margin-left: 0%;
    font-size:50px;
    font-style: italic;
    color: slateblue;
}

.intro.descrip-2{
    margin-top: 10px;
    margin-left: 0%;
    font-size:30px;
    font-style: italic;
    color: rgb(66, 66, 66);

}

ul {
  list-style-type: none; /* Removes default list bullet */
  padding-left: 0; /* Aligns content to the left edge */
}


.container {
  background-color: #bfcbe4; /* Light blue background */
  padding: 20px;
  border-radius: 8px; /* Optional: adds rounded corners to the container */
}

.work-experience {
  font-style: italic;
  font-size: 35px;
  color: #2c2c2c;
  padding: 15px 0; /* Adds padding above and below the section */
}
.list{
    font-weight:lighter;
    font-size: 25px;
    font-style: italic;
    margin-left: -0%;
}

.hexagon-text {
  font-size: 20px;
  font-weight: lighter;
  font-style: italic;
  text-align: center; /* Centers the description */
  padding-top: 10px; /* Adds space between the image and the text */
}


.text-center {
  text-align: center;
}

.hover-effect {
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .hover-effect:hover {
    transform: scale(1.05); /* Slightly less scale for subtlety */
    opacity: 0.9; /* Less opacity change for subtlety */
    transition: transform 0.2s ease, opacity 0.2s ease; /* Faster transition for responsiveness */
  }

  @media (max-width: 1170px) {
    .content, .media-showcase, .col-md-6, .image-content, .text-content {
      flex: 1 1 100%;
      max-width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
  
    .image-content, .text-content {
      padding-right: 0; /* Remove padding for smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .col {
      flex-basis: 100%; /* Forces columns to take full width */
      max-width: 100%;
    }
  }
  
  .media-showcase h3,
  .media-showcase img,
  .media-showcase a {
    text-align: center;
    margin: 0 auto;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
    display: block; /* Prevents inline spacing */
    margin: 0 auto; /* Centers image in the column if it's not full-width */
  }

