.frank-logo {
    width: 20%;
    height: 20%;
}

.nav-link {
    size: 100%;
    font-size: 40px;
    color: black;
    position: relative; top:-50px;
    position: relative; left: 70%;
    padding-left: 30px;
}

.container.text-center{
    margin-top: 1%;
}