/* nav-bar.css */

.frank-logo {
    max-width: 100px; /* Set a max-width for your logo */
    height: auto; /* Maintain aspect ratio */
}

.navbar {
    padding: 0.5rem 1rem; /* Adjust padding as necessary */
    background-color: #2f608869;
}

.nav-link {
    font-size: 1rem; /* Use rem for font sizes for scalability */
    color: rgb(20, 36, 109);
    font-style: italic;
    text-decoration: none;
    font-size: 25px;
}

/* Use media queries to adjust navbar for different screen sizes */
@media (max-width: 992px) {
    .frank-logo {
        max-width: 80px; /* Smaller logo on tablet */
    }
}

@media (max-width: 768px) {
    .nav-link {
        font-size: 0.9rem; /* Smaller font size on mobile */
    }
}

/* You can add more specific styles or breakpoints as needed */
